.story {
  width: 75%;
  background-color: $color-white;
  padding: 6rem;
  margin: 0 auto;
  //   height: 20rem;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  transform: skewX(-15deg);
  &__shape {
    width: 15rem;
    height: 15rem;

    float: left;
    clip-path: circle(50% at 50% 50%);
    webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(15deg);
    position: relative;
  }
  &__text {
    transform: skewX(15deg);
  }
  &__img {
    height: 100%;
    transition: all 0.5s ease-in;
    backface-visibility: hidden;
    transform: translateX(-4rem) scale(1.4);
  }
  &__caption {
    color: $color-white;
    text-align: center;
    position: absolute;
    z-index: 77;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease-in;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    text-transform: uppercase;
    opacity: 0;
    font-weight: 400;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-4rem) scale(1);
  }
}
