@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  /* 80%{
        transform: translateX(-20px);
        opacity: 0.6;
    } */
  90% {
    transform: translateX(2rem);
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  /* 80%{
        opacity: 0.6;
        transform: translateX(20px);
    } */
  90% {
    opacity: 0.6;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}